services:
  postgresql:
      image: postgres:13
      environment:
        - POSTGRES_USER=temporal
        - POSTGRES_PASSWORD=temporal
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U temporal"]
        interval: 5s
        timeout: 5s
        retries: 5
      
  nats:
    image: nats:latest
    command: "-js"
    ports: ["4222:4222", "8222:8222"]

  temporal:
      image: temporalio/auto-setup:latest
      restart: on-failure
      environment:
        - DB=postgres12
        - DB_PORT=5432
        - POSTGRES_USER=temporal
        - POSTGRES_PWD=temporal
        - POSTGRES_SEEDS=postgresql
      depends_on:
        postgresql:
          condition: service_healthy
      ports: ["7233:7233", "8233:8233"]

  